pageination {
    style: inline-block;
}

pageination a {
    display: block;
    color: red;
    text-decoration: white;
}

pageination a:hover:not(.active){
    background-color: saddlebrown;
    color: red;
}
pageination a.active {
    background-color: saddlebrown;
    color: red;
}
