.pageination {
    display: inline-block;
}

.pageination a {
    display: block;
    color: white;
    text-decoration: white;
}

.pageination a:hover:not(.active){
    background-color: saddlebrown;
    color: white;
}

.pageination a.active {
    background-color: saddlebrown;
    color: white;
}
