body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    color: darkslategray;
    height: 100%;
}

html {
    height: 100%;
}

p {
    margin-left: 15%;
    margin-right: 15%
}

ul {
    list-style-type: none;
}

a {
    color: darkslateblue
}

table, th, td {
    margin-left: auto;
    margin-right: auto;

}

td {
    background-color: bisque;
}

/* Style for links in tds*/
td a {
    display: block;
    color: darkslateblue;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    box-shadow: 2px 1px 2px gray;
    border-radius: 5px;
}

/*Link hover*/
td a:hover {
    color: mediumorchid;
    background-color: burlywood;
}

td a:active {
    box-shadow: 0 0 0 white;
    margin: 2px 5px 10px 5px;
}

td:active {
    box-shadow: inset;
}


/* Textbox for story entries*/
.textbox {
    height: 80%;
    margin: auto;
    width: 75%;
    border: 3px solid SlateGrey;
    padding: 1%;
    overflow: auto
}

/*You can change the styling of textcontent here*/
.textcontent {
    margin: 1%;
}

/*Defines a navbar class (Use as ul class=navbar)*/
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: burlywood;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

/*Defines a item of the navigation bar*/
.navitem {
    float: left;
    border-right: 1px solid #ffffff;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navitem:nth-last-child(1) {
    float: right;
    border-right: 1px solid #ffffff;
}

/*Last child has no right border*/
.navitem:nth-last-child(2) {
    border-right: none;
    float: right;
}

/*Link Text for the navitem*/
.navitem a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
}

/*Hover on navitem*/
.navitem:hover {
    background-color: saddlebrown;
}

.navitem .ger {

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Collapsibles*/
.collapsible {
    background-color: burlywood;
    margin: 3px;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    alignment: center;
    outline: none;
    font-size: 100%;
    border-radius: 5px;
    text-align: center;
}

.active, .collapsible:hover {
    background-color: saddlebrown;
}

.content {
    margin: 0 auto;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    width: 50%;
    alignment: center;
}

.content iframe{
    alignment: center;
}
/*Leaflet container*/
#mapid {
    alignment: center;
    margin: auto;
    height: 75%;
    width: 75vw;
    background: beige;
}

body > .pageination {
    style: inline-block;
}

body > .pageination a {
    display: block;
    color: red;
    text-decoration: white;
}

body > .pageination a:hover:not(.active){
    background-color: saddlebrown;
    color: red;
}

body > .pageination a.active {
    background-color: saddlebrown;
    color: red;
}


